/* 基础样式 */
:root {
	--primary-color: #d93a49;
	/* 朱红：主色调 */
	--secondary-color: #2a5caa;
	/* 黛青：辅助色 */
	--background-color: #f0f3f5;
	/* 月白：背景色 */
	--text-color: #333333;
	/* 墨黑：文字颜色 */
	--accent-color: #00a381;
	/* 竹青：点缀色 */
	--border-radius: 0.5rem;
	/* 圆角 */
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'PingFang SC', 'SimSun', sans-serif;
	text-decoration: none;
	user-select: none;
	scroll-behavior: smooth;
	transition: all 1s ease-in-out;
}

html {
	font-size: 16px;
	background-color: var(--background-color);
	color: var(--text-color);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #66a9c9 url('./background.svg') no-repeat center/cover fixed;
}

.container {
	width: 90%;
	max-width: 40rem;
	background: rgba(233, 215, 223, 0.9);
	padding: 2rem;
	border-radius: var(--border-radius);
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
	text-align: center;
}

.header h1 {
	font-size: 2.5rem;
	margin: 0;
	color: var(--primary-color);
	font-family: 'SimSun', serif;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.header p {
	font-size: 1.2rem;
	color: var(--secondary-color);
}

#parse-form {
	margin-top: 2rem;
}

.input-group {
	display: flex;
	gap: 1rem;
}

#video-url {
	flex: 1;
	padding: 0.75rem;
	font-size: 1rem;
	border: 1px solid var(--secondary-color);
	border-radius: var(--border-radius);
	outline: none;
	transition: border-color 0.3s ease;
}

#video-url:focus {
	border-color: var(--primary-color);
}

button {
	padding: 0.75rem;
	font-size: 1rem;
	background-color: var(--primary-color);
	color: white;
	border: none;
	border-radius: var(--border-radius);
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: var(--accent-color);
}

.result {
	margin-top: 2rem;
	font-size: 1rem;
	text-align: left;
	color: var(--text-color);
	padding: 1rem;
	background-color: #f9f4dc;
	border-radius: var(--border-radius);
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.result img {
	width: 100%;
	border-radius: 0.5rem;
}

.result a {
	color: var(--primary-color);
	text-decoration: none;
	font-weight: bold;
}

.result a:hover {
	text-decoration: underline;
}

.footer {
	text-align: center;
	margin-top: 2rem;
	font-size: 0.9rem;
	color: var(--secondary-color);
}